@import url(/src/index.css);

.card{
    max-width: 250px;
    margin: 2em auto;

    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.card--open{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 5%;

    background-color: var(--white);
}

.card--open__button{
    margin: 9em 0 5em 0;
    padding: 0.5em 1.5em;
    display: flex;
    align-items: center;
    gap: 1em;

    background-color: var(--white);
    border: none;
    box-shadow: var(--box-shadow);
    font-family: var(--ff-accent);
    font-weight: 600;
    font-size: 0.8rem;
}

.card--open__button__icon{
    min-width: 15px;
}

.card__img{
    max-width: 100%;

    border-radius: 5px 5px 0 0;
}

.card__info{
    padding: 1em;
}

.card__h3{
    padding: 0 0 1em 0;
}

.card p{
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0 0 0.25em 0;
}

.card p span{
    font-weight: 600;
}

.CountryCard__info{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: red;
}