@import url(/src/index.css);

.search-bar{
    display: flex;
    margin: 1.5em 5% 2em 5%;
    max-width: 350px;
    min-height: 50px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.search-bar__icon{
    max-width: 15px;
    margin: 1em 2em;
    fill: var(--gray);
}

.search-bar__input{
    border: none;
    width: 100%;
    font-family: var(--body-ff);
    border-radius: 5px;
}

.search-bar__input:focus{
    outline: none;
}

.search-bar__input::placeholder{
    font-family: var(--body-ff);
    font-size: 0.8rem;
    color: var(--gray);
}