:root{
  --white: #fff;
  --black: #000;

  /* dark mode clrs */
  --blue: hsl(209, 23%, 22%);
  --dark-blue: hsl(207, 26%, 17%);

  /* light mode */
  --dark-blue-txt: hsl(200, 15%, 8%);
  --gray: hsl(0, 0%, 52%);
  --light-gray: hsl(0, 0%, 98%);

  /* font-family */
  --body-ff: 'Nunito', sans-serif;
}


*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Nunito', sans-serif;
  color: var(--dark-blue-txt);
}
